.idea/
.vscode/
/**/vendor/
/**/Libs/
/**/composer.lock
.phpunit.cache

src/Themes/default/languages/Optimus/*
src/Themes/default/languages/Optimus/index.php
!src/Themes/default/languages/Optimus/Optimus.english.php
