.idea/
.vscode/
.next/
node_modules/
vendor/
/**/composer.lock
coverage/
.phpunit.cache/
.phpunit.result.cache

src/Themes/default/languages/Optimus/*
src/Themes/default/languages/Optimus/index.php
!src/Themes/default/languages/Optimus/Optimus.english.php

src/Sources/Optimus/Addons/*/
src/Sources/Optimus/Addons/StructuredData.php

src/Sources/Optimus/Libs/*
!src/Sources/Optimus/Libs/index.php

*.zip