#optimus .description {
	text-align: center;
	margin: 2px;
	border-radius: 6px
}

#optimus .clear {
	margin-bottom: 5px
}

dl.settings {
	margin: 0 !important
}

dl.settings dt,
dl.settings dd {
	width: 50% !important
}

.windowbg2 {
	margin-bottom: 6px
}

.centertext table {
	width: 100%
}

.block_code {
	width: 90%
}

.content {
	padding: 1em 2em
}

.content textarea[name*="robots"] {
	width: 90%;
	font-size: .9em
}

.content ul {
	margin: 0;
	padding-left: 30px;
	text-align: left
}

.content p {
	padding-left: 10px
}

#paypal_donate input[type=image] {
	border: none;
}