@use "@yohns/picocss/scss/pico" with (
    $parent-selector: ".pico",
    $theme-color: "orange"
);

/* Dark mode colors. */
:root {
	--sl-color-accent-low: #2a2100;
	--sl-color-accent: #b87b00;
	--sl-color-accent-high: #f5dbaa;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eeeeee;
	--sl-color-gray-2: #bbbbbb;
	--sl-color-gray-3: #888888;
	--sl-color-gray-4: #555555;
	--sl-color-gray-5: #333333;
	--sl-color-gray-6: #1a1a1a;
	--sl-color-black: #000000;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #f0d2a8;
	--sl-color-accent: #906100;
	--sl-color-accent-high: #452d00;
	--sl-color-white: #001a2e;
	--sl-color-gray-1: #002946;
	--sl-color-gray-2: #003b61;
	--sl-color-gray-3: #005c94;
	--sl-color-gray-4: #2b92dc;
	--sl-color-gray-5: #9cc8ee;
	--sl-color-gray-6: #e0f0ff;
	--sl-color-gray-7: #eff7ff;
	--sl-color-black: #ffffff;
}
